
#loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginPage input {
    width: 250px;
    height: 1.5rem;
    margin-bottom: 1rem;
}

#optionButtons {
    display: flex;
    flex-direction: row;
    /* border: 1px plum solid; */
    width: 100%;
    justify-content:space-evenly;
}